In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import requests
import pandas as pd
import json
import numpy as np
import time

In [6]:
# URL for GET requests to retrieve vehicle data

url = "https://data.cms.gov/resource/97k6-zzx3.json"

# Create a variable for and print the response object to the console to make sure we have a connection to the API
Response = requests.get(url)
print(Response)

<Response [200]>

In [7]:
# Create a variable to hold the response data in json format
Response_Data = Response.json()

# print(json.dumps(Response_Data, indent=4, sort_keys=True))

In [8]:
# Generate a DataFrame from the response data
DataFrame = pd.DataFrame(Response_Data)

# Display top 5 rows of dataframe for reference

DataFrame.head()

,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28,5417.56,4129.16
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27,5658.33,4851.44

In [9]:
# Display a statistical overview of the DataFrame for reference

DataFrame.describe()

,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1,1000,974,999,683,47,957,282,92,1000,994,998
top,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,170192,GOOD SAMARITAN HOSPITAL,800 WASHINGTON STREET,SPRINGFIELD,FL,77030,MA - Boston,11,37047.06,5986,5235.22
freq,1000,1,6,2,8,81,3,19,57,1,2,2

In [10]:
# Check to see if there are any incomplete rows
DataFrame.count()

drg_definition                          1000
provider_id                             1000
provider_name                           1000
provider_street_address                 1000
provider_city                           1000
provider_state                          1000
provider_zip_code                       1000
hospital_referral_region_description    1000
total_discharges                        1000
average_covered_charges                 1000
average_medicare_payments               1000
average_medicare_payments_2             1000
dtype: int64

In [11]:
# Calculate the Number of Unique Diagnosis Related Groups (DRGs): 
Unique_DRGs = len(DataFrame["drg_definition"].unique())
Unique_DRGs

1

In [12]:
# Calculate the Number of Unique Providers: 
Unique_Provider_count = len(DataFrame["provider_id"].unique())
Unique_Provider_count

1000

In [13]:
# Calculate the Total Number of Unique States in the DataFrame
Unique_State_Count = len(DataFrame["provider_state"].unique())
Unique_State_Count

47

In [14]:
# Calculate the Total Number of Unique Provider Zip Codes in the DataFrame
Unique_Provider_ZipCode_Count = len(DataFrame["provider_zip_code"].unique())
Unique_Provider_ZipCode_Count

957

In [15]:
# Calculate the Unique Number of hospital_referral_region_description in the DataFrame
Unique_Hospital_Referral_Region_count = len(DataFrame["hospital_referral_region_description"].unique())
Unique_Hospital_Referral_Region_count

282

In [16]:
# Observe the DataTypes of each column
DataFrame.dtypes

drg_definition                          object
provider_id                             object
provider_name                           object
provider_street_address                 object
provider_city                           object
provider_state                          object
provider_zip_code                       object
hospital_referral_region_description    object
total_discharges                        object
average_covered_charges                 object
average_medicare_payments               object
average_medicare_payments_2             object
dtype: object

In [17]:
# Use pd.to_numeric() method to convert the datatype of the Discharge Count column
DataFrame['total_discharges'] = pd.to_numeric(DataFrame['total_discharges'])

# Use pd.to_numeric() method to convert the datatype of the Average Covered Charges column
DataFrame['average_covered_charges'] = pd.to_numeric(DataFrame['average_covered_charges'])

# Use pd.to_numeric() method to convert the datatype of the Average Medicare Payments column
DataFrame['average_medicare_payments'] = pd.to_numeric(DataFrame['average_medicare_payments'])

# Use pd.to_numeric() method to convert the datatype of the Average Medicare Payments 2 column
DataFrame['average_medicare_payments_2'] = pd.to_numeric(DataFrame['average_medicare_payments_2'])

In [18]:
# Verify that the Discharge column datatype has been made numeric
# DataFrame['total_discharges'].dtype

# Observe the updated DataTypes of each column
DataFrame.dtypes

drg_definition                           object
provider_id                              object
provider_name                            object
provider_street_address                  object
provider_city                            object
provider_state                           object
provider_zip_code                        object
hospital_referral_region_description     object
total_discharges                          int64
average_covered_charges                 float64
average_medicare_payments               float64
average_medicare_payments_2             float64
dtype: object

In [19]:
# Calculate the Total Number of Discharges in the DataFrame
Discharge_Count = (DataFrame["total_discharges"].sum())
Discharge_Count

31334

In [20]:
# Cacluate the average covered charges amount
Average_Covered_Charges = DataFrame["average_covered_charges"].mean()
Average_Covered_Charges

30764.52741

In [21]:
# Cacluate the max covered charge amount
Max_Covered_Charges = DataFrame["average_covered_charges"].max()
Max_Covered_Charges

146892.0

In [22]:
# Cacluate the min covered charge amount
Min_Covered_Charges = DataFrame["average_covered_charges"].min()
Min_Covered_Charges

5981.05

In [23]:
# Create a summary data frame to hold the Analysis Results

DRG_Analysis_df = pd.DataFrame([
    {"Unique DRGs": Unique_DRGs, 
     "Unique Providers": Unique_Provider_count, 
     "Unique Provider States": Unique_State_Count, 
     "Unique Provider Zip Codes": Unique_Provider_ZipCode_Count, 
     "Unique Regions": Unique_Hospital_Referral_Region_count,
     "Total Discharge Count": Discharge_Count,
     "Average Charge": Average_Covered_Charges,
     "Max Charge": Max_Covered_Charges,
     "Min Charge": Min_Covered_Charges
    }
])
DRG_Analysis_df

,Unique DRGs,Unique Providers,Unique Provider States,Unique Provider Zip Codes,Unique Regions,Total Discharge Count,Average Charge,Max Charge,Min Charge
0,1,1000,47,957,282,31334,30764.52741,146892.0,5981.05

In [24]:
# Give the displayed data cleaner formatting

DRG_Analysis_Formatted_df = DRG_Analysis_df

DRG_Analysis_Formatted_df["Average Charge"] = DRG_Analysis_df["Average Charge"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df["Max Charge"] = DRG_Analysis_df["Max Charge"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df["Min Charge"] = DRG_Analysis_df["Min Charge"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df

,Unique DRGs,Unique Providers,Unique Provider States,Unique Provider Zip Codes,Unique Regions,Total Discharge Count,Average Charge,Max Charge,Min Charge
0,1,1000,47,957,282,31334,"$30,764.53","$146,892.00","$5,981.05"

In [25]:
# Filter the data so that only TN data is in the dataframe

DataFrame_TN = DataFrame.loc[DataFrame["provider_state"] == "TN", :]

DataFrame_TN.head()

,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
879,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440002,JACKSON-MADISON COUNTY GENERAL HOSPITAL,620 SKYLINE DRIVE,JACKSON,TN,38301,TN - Jackson,44,19872.77,6355.88,4957.81
881,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440006,SKYLINE MEDICAL CENTER,3441 DICKERSON PIKE,NASHVILLE,TN,37207,TN - Nashville,11,41660.09,6186.81,5266.45
882,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440011,BLOUNT MEMORIAL HOSPITAL,907 E LAMAR ALEXANDER PARKWAY,MARYVILLE,TN,37804,TN - Knoxville,13,23726.38,5176.76,4318.30
883,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440012,WELLMONT BRISTOL REGIONAL MEDICAL CENTER,ONE MEDICAL PARK BLVD,BRISTOL,TN,37620,TN - Kingsport,14,16276.78,5571.78,4603.78
884,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440015,UNIVERSITY OF TN MEMORIAL HOSPITAL,1924 ALCOA HIGHWAY,KNOXVILLE,TN,37920,TN - Knoxville,41,19589.43,6720.24,5632.00

In [26]:
# Display a statistical overview of the TN DataFrame for reference

DataFrame_TN.describe()

,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
count,32.000000,32.000000,32.000000,32.000000
mean,30.812500,26417.375313,6151.375313,4855.665938
std,20.526046,12412.186946,854.727324,602.435050
min,11.000000,10904.810000,5176.760000,3882.980000
25%,15.750000,18825.592500,5666.592500,4453.122500
50%,23.000000,23295.465000,6048.085000,4767.050000
75%,40.250000,34618.002500,6359.487500,5062.382500
max,92.000000,56329.570000,9329.140000,6471.170000

In [27]:
# Calculate the Number of Unique Diagnosis Related Groups (DRGs): 
Unique_DRGs_TN = len(DataFrame_TN["drg_definition"].unique())
Unique_DRGs_TN

1

In [28]:
# Calculate the Number of Unique Providers in TN: 
Unique_Provider_count_TN = len(DataFrame_TN["provider_id"].unique())
Unique_Provider_count_TN

32

In [29]:
# Calculate the Unique Number of hospital_referral_region_description in TN 
Unique_Hospital_Referral_Region_count_TN = len(DataFrame_TN["hospital_referral_region_description"].unique())
Unique_Hospital_Referral_Region_count_TN

7

In [30]:
# Calculate the Total Number of Discharges in TN 
Discharge_Count_TN = (DataFrame_TN["total_discharges"].sum())
Discharge_Count_TN

986

In [31]:
# Cacluate the average covered charges amount in TN
Average_Covered_Charges_TN = DataFrame_TN["average_covered_charges"].mean()
Average_Covered_Charges_TN

26417.3753125

In [32]:
# Cacluate the max covered charge amount in TN
Max_Covered_Charges_TN = DataFrame_TN["average_covered_charges"].max()
Max_Covered_Charges_TN

56329.57

In [33]:
# Cacluate the min covered charge amount in TN
Min_Covered_Charges_TN = DataFrame_TN["average_covered_charges"].min()
Min_Covered_Charges_TN

10904.81

In [34]:
# Calculate the Total Number of Unique Provider Zip Codes in TN 
Unique_Provider_ZipCode_Count_TN = len(DataFrame_TN["provider_zip_code"].unique())
Unique_Provider_ZipCode_Count_TN

31

In [35]:
# Create a summary data frame to hold the DRG Analysis Results for TN

DRG_Analysis_df_TN = pd.DataFrame([
    {"Unique DRGs in TN": Unique_DRGs_TN, 
     "Unique Providers in TN": Unique_Provider_count_TN, 
     "Unique Provider Zip Codes in TN": Unique_Provider_ZipCode_Count_TN, 
     "Unique Regions in TN": Unique_Hospital_Referral_Region_count_TN,
     "Total Discharge Count in TN": Discharge_Count_TN,
     "Average Charge in TN": Average_Covered_Charges_TN,
     "Max Charge in TN": Max_Covered_Charges_TN,
     "Min Charge in TN": Min_Covered_Charges_TN
    }
])
DRG_Analysis_df_TN

,Unique DRGs in TN,Unique Providers in TN,Unique Provider Zip Codes in TN,Unique Regions in TN,Total Discharge Count in TN,Average Charge in TN,Max Charge in TN,Min Charge in TN
0,1,32,31,7,986,26417.375313,56329.57,10904.81

In [36]:
# Give the displayed data cleaner formatting

DRG_Analysis_Formatted_df_TN = DRG_Analysis_df_TN

DRG_Analysis_Formatted_df_TN["Average Charge in TN"] = DRG_Analysis_df_TN["Average Charge in TN"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_TN["Max Charge in TN"] = DRG_Analysis_df_TN["Max Charge in TN"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_TN["Min Charge in TN"] = DRG_Analysis_df_TN["Min Charge in TN"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df_TN

,Unique DRGs in TN,Unique Providers in TN,Unique Provider Zip Codes in TN,Unique Regions in TN,Total Discharge Count in TN,Average Charge in TN,Max Charge in TN,Min Charge in TN
0,1,32,31,7,986,"$26,417.38","$56,329.57","$10,904.81"

In [37]:
# This is a test

DRG_Analysis_Formatted_df_TN.head()

,Unique DRGs in TN,Unique Providers in TN,Unique Provider Zip Codes in TN,Unique Regions in TN,Total Discharge Count in TN,Average Charge in TN,Max Charge in TN,Min Charge in TN
0,1,32,31,7,986,"$26,417.38","$56,329.57","$10,904.81"

In [38]:
# Filter the data so that only TN - Nashville data is in the dataframe

DataFrame_TN_Nashville = DataFrame.loc[DataFrame["hospital_referral_region_description"] == "TN - Nashville", :]

DataFrame_TN_Nashville.head()

,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
401,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,180013,THE MEDICAL CENTER AT BOWLING GREEN,250 PARK STREET,BOWLING GREEN,KY,42101,TN - Nashville,65,18149.16,6416.32,5282.30
408,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,180051,JENNIE STUART MEDICAL CENTER,320 WEST 18TH STREET,HOPKINSVILLE,KY,42240,TN - Nashville,14,15505.00,5833.35,4955.35
881,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440006,SKYLINE MEDICAL CENTER,3441 DICKERSON PIKE,NASHVILLE,TN,37207,TN - Nashville,11,41660.09,6186.81,5266.45
886,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440029,WILLIAMSON MEDICAL CENTER,4321 CAROTHERS PARKWAY,FRANKLIN,TN,37067,TN - Nashville,23,20155.47,5723.65,4303.86
889,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,440035,GATEWAY MEDICAL CENTER,651 DUNLOP LANE,CLARKSVILLE,TN,37040,TN - Nashville,20,27194.25,6021.85,4833.30

In [39]:
# Display a statistical overview of the TN - Nashville DataFrame for reference

DataFrame_TN_Nashville.describe()

,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
count,16.000000,16.000000,16.000000,16.000000
mean,27.937500,28433.611875,6318.749375,4983.566875
std,18.634981,12633.136455,849.651244,522.797141
min,11.000000,12781.980000,5684.750000,4303.860000
25%,17.000000,17745.390000,5974.725000,4705.887500
50%,22.500000,26372.940000,6127.570000,4926.315000
75%,28.000000,35358.657500,6365.297500,5178.587500
max,74.000000,56329.570000,9329.140000,6471.170000

In [40]:
# Calculate the Number of Unique Diagnosis Related Groups (DRGs) in TN - Nashville
Unique_DRGs_TN_Nashville = len(DataFrame_TN_Nashville["drg_definition"].unique())
Unique_DRGs_TN_Nashville

1

In [41]:
# Calculate the Number of Unique Providers in TN - Nashville
Unique_Provider_count_TN_Nashville = len(DataFrame_TN_Nashville["provider_id"].unique())
Unique_Provider_count_TN_Nashville

16

In [42]:
# Calculate the Total Number of Discharges in TN - Nashville
Discharge_Count_TN_Nashville = (DataFrame_TN_Nashville["total_discharges"].sum())
Discharge_Count_TN_Nashville

447

In [43]:
# Cacluate the average covered charges amount in TN - Nashville
Average_Covered_Charges_TN_Nashville = DataFrame_TN_Nashville["average_covered_charges"].mean()
Average_Covered_Charges_TN_Nashville

28433.611875000002

In [44]:
# Cacluate the max covered charge amount in TN - Nashville
Max_Covered_Charges_TN_Nashville = DataFrame_TN_Nashville["average_covered_charges"].max()
Max_Covered_Charges_TN_Nashville

56329.57

In [45]:
# Cacluate the min covered charge amount in TN - Nashville
Min_Covered_Charges_TN_Nashville = DataFrame_TN_Nashville["average_covered_charges"].min()
Min_Covered_Charges_TN_Nashville

12781.98

In [46]:
# Calculate the Total Number of Unique Provider Zip Codes in TN - Nashville
Unique_Provider_ZipCode_Count_TN_Nashville = len(DataFrame_TN_Nashville["provider_zip_code"].unique())
Unique_Provider_ZipCode_Count_TN_Nashville

16

In [51]:
# Create a summary data frame to hold the DRG Analysis Results for TN - Nashville

DRG_Analysis_df_TN_Nashville = pd.DataFrame([
    {"Unique DRGs in Nashville": Unique_DRGs_TN_Nashville, 
     "Unique Providers in Nashville": Unique_Provider_count_TN_Nashville, 
     "Unique Provider Zip Codes in Nashville": Unique_Provider_ZipCode_Count_TN_Nashville, 
     "Total Discharge Count in Nashville": Discharge_Count_TN_Nashville,
     "Average Charge in Nashville": Average_Covered_Charges_TN_Nashville,
     "Max Charge in Nashville": Max_Covered_Charges_TN_Nashville,
     "Min Charge in Nashville": Min_Covered_Charges_TN_Nashville
    }
])
DRG_Analysis_df_TN_Nashville

,Unique DRGs in Nashville,Unique Providers in Nashville,Unique Provider Zip Codes in Nashville,Total Discharge Count in Nashville,Average Charge in Nashville,Max Charge in Nashville,Min Charge in Nashville
0,1,16,16,447,28433.611875,56329.57,12781.98

In [52]:
# Give the displayed data cleaner formatting

DRG_Analysis_Formatted_df_TN_Nashville = DRG_Analysis_df_TN_Nashville

DRG_Analysis_Formatted_df_TN_Nashville["Average Charge in Nashville"] = DRG_Analysis_df_TN_Nashville["Average Charge in Nashville"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_TN_Nashville["Max Charge in Nashville"] = DRG_Analysis_df_TN_Nashville["Max Charge in Nashville"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_TN_Nashville["Min Charge in Nashville"] = DRG_Analysis_df_TN_Nashville["Min Charge in Nashville"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df_TN_Nashville

,Unique DRGs in Nashville,Unique Providers in Nashville,Unique Provider Zip Codes in Nashville,Total Discharge Count in Nashville,Average Charge in Nashville,Max Charge in Nashville,Min Charge in Nashville
0,1,16,16,447,"$28,433.61","$56,329.57","$12,781.98"

In [56]:
# Filter the data so that only a specific procedure is in the dataframe

DataFrame_drg_POISON = DataFrame.loc[DataFrame["drg_definition"] == "918 - POISONING & TOXIC EFFECTS OF DRUGS W/O MCC ", :]

DataFrame_drg_POISON.head()

Empty DataFrame
Columns: [drg_definition, provider_id, provider_name, provider_street_address, provider_city, provider_state, provider_zip_code, hospital_referral_region_description, total_discharges, average_covered_charges, average_medicare_payments, average_medicare_payments_2]
Index: []

In [53]:
# Filter the data so that only a specific procedure is in the dataframe

DataFrame_drg_EXTRACRANIAL = DataFrame.loc[DataFrame["drg_definition"] == "039 - EXTRACRANIAL PROCEDURES W/O CC/MCC", :]

DataFrame_drg_EXTRACRANIAL.head()

,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_description,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28,5417.56,4129.16
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27,5658.33,4851.44

In [54]:
# Display a statistical overview of the EXTRACRANIAL PROCEDURES DataFrame for reference

DataFrame_drg_EXTRACRANIAL.describe()

,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
count,1000.000000,1000.000000,1000.000000,1000.000000
mean,31.334000,30764.527410,6967.502010,5575.505550
std,21.807522,16177.078199,1492.145685,1261.369332
min,11.000000,5981.050000,4968.000000,3592.850000
25%,16.000000,19812.082500,6003.065000,4761.220000
50%,24.000000,26958.160000,6587.160000,5267.605000
75%,40.000000,37167.672500,7529.992500,6057.345000
max,190.000000,146892.000000,18420.560000,15855.180000

In [57]:
# Display a statistical overview of the POISON PROCEDURES DataFrame for reference

DataFrame_drg_POISON.describe()

,total_discharges,average_covered_charges,average_medicare_payments,average_medicare_payments_2
count,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN

In [58]:
# Calculate the Number of Unique Providers that serviced DRG POISON PROCEDURES
Unique_Provider_count_drg_POISON = len(DataFrame_drg_POISON["provider_id"].unique())
Unique_Provider_count_drg_POISON

0

In [59]:
# Calculate the Number of Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES
Unique_Provider_count_drg_EXTRACRANIAL = len(DataFrame_drg_EXTRACRANIAL["provider_id"].unique())
Unique_Provider_count_drg_EXTRACRANIAL

1000

In [60]:
# Calculate the Unique Number of hospital_referral_region_description that serviced DRG POISON PROCEDURES in the DataFrame
Unique_Hospital_Referral_Region_count_drg_POISON = len(DataFrame_drg_EXTRACRANIAL["hospital_referral_region_description"].unique())
Unique_Hospital_Referral_Region_count_drg_POISON

282

In [61]:
# Calculate the Unique Number of hospital_referral_region_description that serviced DRG EXTRACRANIAL PROCEDURES in the DataFrame
Unique_Hospital_Referral_Region_count_drg_EXTRACRANIAL = len(DataFrame_drg_EXTRACRANIAL["hospital_referral_region_description"].unique())
Unique_Hospital_Referral_Region_count_drg_EXTRACRANIAL

282

In [62]:
# Calculate the Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES in the DataFrame
Discharge_Count_drg_POISON = (DataFrame_drg_POISON["total_discharges"].sum())
Discharge_Count_drg_POISON

0

In [63]:
# Calculate the Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES in the DataFrame
Discharge_Count_drg_EXTRACRANIAL = (DataFrame_drg_EXTRACRANIAL["total_discharges"].sum())
Discharge_Count_drg_EXTRACRANIAL

31334

In [64]:
# Cacluate the average covered charges for DRG POISON PROCEDURES
Average_Covered_Charges_drg_POISON = DataFrame_drg_POISON["average_covered_charges"].mean()
Average_Covered_Charges_drg_POISON

nan

In [65]:
# Cacluate the average covered charges for DRG EXTRACRANIAL PROCEDURES
Average_Covered_Charges_drg_EXTRACRANIAL = DataFrame_drg_EXTRACRANIAL["average_covered_charges"].mean()
Average_Covered_Charges_drg_EXTRACRANIAL

30764.52741

In [66]:
# Cacluate the max covered charge amount for DRG EXTRACRANIAL PROCEDURES
Max_Covered_Charges_drg_POISON = DataFrame_drg_POISON["average_covered_charges"].max()
Max_Covered_Charges_drg_POISON

nan

In [67]:
# Cacluate the max covered charge amount for DRG EXTRACRANIAL PROCEDURES
Max_Covered_Charges_drg_EXTRACRANIAL = DataFrame_drg_EXTRACRANIAL["average_covered_charges"].max()
Max_Covered_Charges_drg_EXTRACRANIAL

146892.0

In [68]:
# Cacluate the min covered charge amount for DRG POISON PROCEDURES
Min_Covered_Charges_drg_POISON = DataFrame_drg_POISON["average_covered_charges"].min()
Min_Covered_Charges_drg_POISON

nan

In [69]:
# Cacluate the min covered charge amount for DRG EXTRACRANIAL PROCEDURES
Min_Covered_Charges_drg_EXTRACRANIAL = DataFrame_drg_EXTRACRANIAL["average_covered_charges"].min()
Min_Covered_Charges_drg_EXTRACRANIAL

5981.05

In [70]:
# Calculate the Total Number of Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES
Unique_Provider_ZipCode_Count_drg_POISON = len(DataFrame_drg_POISON["provider_zip_code"].unique())
Unique_Provider_ZipCode_Count_drg_POISON

0

In [71]:
# Calculate the Total Number of Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES
Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL = len(DataFrame_drg_EXTRACRANIAL["provider_zip_code"].unique())
Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL

957

In [73]:
# Create a summary data frame to hold the DRG POISON PROCEDURES Analysis Results

DRG_Analysis_df_drg_POISON = pd.DataFrame([
    {"Unique Providers that serviced DRG POISON PROCEDURES": Unique_Provider_count_drg_POISON, 
     "Unique Provider Zip Codes that serviced DRG POISON PROCEDURES": Unique_Provider_ZipCode_Count_drg_POISON, 
     "Total Number of Discharges for DRG POISON PROCEDURES": Discharge_Count_drg_POISON,
     "Average Charge for DRG POISON PROCEDURES": Average_Covered_Charges_drg_POISON,
     "Max Charge for DRG POISON PROCEDURES": Max_Covered_Charges_drg_POISON,
     "Min Charge for DRG POISON PROCEDURES": Min_Covered_Charges_drg_POISON
    }
])
DRG_Analysis_df_drg_POISON

,Unique Providers that serviced DRG POISON PROCEDURES,Unique Provider Zip Codes that serviced DRG POISON PROCEDURES,Total Number of Discharges for DRG POISON PROCEDURES,Average Charge for DRG POISON PROCEDURES,Max Charge for DRG POISON PROCEDURES,Min Charge for DRG POISON PROCEDURES
0,0,0,0,NaN,NaN,NaN

In [74]:
# Create a summary data frame to hold the DRG EXTRACRANIAL PROCEDURES Analysis Results

DRG_Analysis_df_drg_EXTRACRANIAL = pd.DataFrame([
    {"Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES": Unique_Provider_count_drg_EXTRACRANIAL, 
     "Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES": Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL, 
     "Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES": Discharge_Count_drg_EXTRACRANIAL,
     "Average Charge for DRG EXTRACRANIAL PROCEDURES": Average_Covered_Charges_drg_EXTRACRANIAL,
     "Max Charge for DRG EXTRACRANIAL PROCEDURES": Max_Covered_Charges_drg_EXTRACRANIAL,
     "Min Charge for DRG EXTRACRANIAL PROCEDURES": Min_Covered_Charges_drg_EXTRACRANIAL
    }
])
DRG_Analysis_df_drg_EXTRACRANIAL

,Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES,Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES,Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES,Average Charge for DRG EXTRACRANIAL PROCEDURES,Max Charge for DRG EXTRACRANIAL PROCEDURES,Min Charge for DRG EXTRACRANIAL PROCEDURES
0,1000,957,31334,30764.52741,146892.0,5981.05

In [75]:
# Give the displayed data to hold the DRG POISON PROCEDURES Analysis Results with cleaner formatting

DRG_Analysis_Formatted_df_drg_POISON = DRG_Analysis_df_drg_POISON

DRG_Analysis_Formatted_df_drg_POISON["Average Charge for DRG POISON PROCEDURES"] = DRG_Analysis_df_drg_POISON["Average Charge for DRG POISON PROCEDURES"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_POISON["Max Charge for DRG POISON PROCEDURES"] = DRG_Analysis_df_drg_POISON["Max Charge for DRG POISON PROCEDURES"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_POISON["Min Charge for DRG POISON PROCEDURES"] = DRG_Analysis_df_drg_POISON["Min Charge for DRG POISON PROCEDURES"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df_drg_POISON

,Unique Providers that serviced DRG POISON PROCEDURES,Unique Provider Zip Codes that serviced DRG POISON PROCEDURES,Total Number of Discharges for DRG POISON PROCEDURES,Average Charge for DRG POISON PROCEDURES,Max Charge for DRG POISON PROCEDURES,Min Charge for DRG POISON PROCEDURES
0,0,0,0,$nan,$nan,$nan

In [77]:
# Give the displayed data to hold the DRG POISON PROCEDURES Analysis Results with cleaner formatting

DRG_Analysis_Formatted_df_drg_POISON = DRG_Analysis_df_drg_POISON

DRG_Analysis_Formatted_df_drg_POISON["Average Charge for DRG POISON PROCEDURES"] = DRG_Analysis_df_drg_POISON["Average Charge for DRG POISON PROCEDURES"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_POISON["Max Charge for DRG POISON PROCEDURES"] = DRG_Analysis_df_drg_POISON["Max Charge for DRG POISON PROCEDURES"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_POISON["Min Charge for DRG POISON PROCEDURES"] = DRG_Analysis_df_drg_POISON["Min Charge for DRG POISON PROCEDURES"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df_drg_POISON

ValueError: Unknown format code 'f' for object of type 'str'

In [78]:
# Give the displayed data to hold the DRG EXTRACRANIAL PROCEDURES Analysis Results with cleaner formatting

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL = DRG_Analysis_df_drg_EXTRACRANIAL

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL["Average Charge for DRG EXTRACRANIAL PROCEDURES"] = DRG_Analysis_df_drg_EXTRACRANIAL["Average Charge for DRG EXTRACRANIAL PROCEDURES"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_EXTRACRANIAL["Max Charge for DRG EXTRACRANIAL PROCEDURES"] = DRG_Analysis_df_drg_EXTRACRANIAL["Max Charge for DRG EXTRACRANIAL PROCEDURES"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_EXTRACRANIAL["Min Charge for DRG EXTRACRANIAL PROCEDURES"] = DRG_Analysis_df_drg_EXTRACRANIAL["Min Charge for DRG EXTRACRANIAL PROCEDURES"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL

,Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES,Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES,Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES,Average Charge for DRG EXTRACRANIAL PROCEDURES,Max Charge for DRG EXTRACRANIAL PROCEDURES,Min Charge for DRG EXTRACRANIAL PROCEDURES
0,1000,957,31334,"$30,764.53","$146,892.00","$5,981.05"

In [ ]:
# Filter the data so that only a specific procedure in TN is in the dataframe

DataFrame_drg_EXTRACRANIAL_TN = DataFrame.loc[(DataFrame["drg_definition"] == "039 - EXTRACRANIAL PROCEDURES W/O CC/MCC") & (DataFrame["provider_state"] == "TN"), :]

DataFrame_drg_EXTRACRANIAL_TN.head()

In [ ]:
# Display a statistical overview of the EXTRACRANIAL PROCEDURES TN DataFrame for reference

DataFrame_drg_EXTRACRANIAL_TN.describe()

In [ ]:
# Calculate the Number of Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES in TN
Unique_Provider_count_drg_EXTRACRANIAL_TN = len(DataFrame_drg_EXTRACRANIAL_TN["provider_id"].unique())
Unique_Provider_count_drg_EXTRACRANIAL_TN

In [ ]:
# Calculate the Unique Number of hospital_referral_region_description that serviced DRG EXTRACRANIAL PROCEDURES in TN
Unique_Hospital_Referral_Region_count_drg_EXTRACRANIAL_TN = len(DataFrame_drg_EXTRACRANIAL_TN["hospital_referral_region_description"].unique())
Unique_Hospital_Referral_Region_count_drg_EXTRACRANIAL_TN

In [ ]:
# Calculate the Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES in TN
Discharge_Count_drg_EXTRACRANIAL_TN = (DataFrame_drg_EXTRACRANIAL_TN["total_discharges"].sum())
Discharge_Count_drg_EXTRACRANIAL_TN

In [ ]:
# Cacluate the average covered charges for DRG EXTRACRANIAL PROCEDURES in TN
Average_Covered_Charges_drg_EXTRACRANIAL_TN = DataFrame_drg_EXTRACRANIAL_TN["average_covered_charges"].mean()
Average_Covered_Charges_drg_EXTRACRANIAL_TN

In [ ]:
# Cacluate the min covered charge amount for DRG EXTRACRANIAL PROCEDURES in TN
Min_Covered_Charges_drg_EXTRACRANIAL_TN = DataFrame_drg_EXTRACRANIAL_TN["average_covered_charges"].min()
Min_Covered_Charges_drg_EXTRACRANIAL_TN

In [ ]:
# Cacluate the max covered charge amount for DRG EXTRACRANIAL PROCEDURES in TN
Max_Covered_Charges_drg_EXTRACRANIAL_TN = DataFrame_drg_EXTRACRANIAL_TN["average_covered_charges"].max()
Max_Covered_Charges_drg_EXTRACRANIAL_TN

In [ ]:
# Calculate the Total Number of Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES in TN
Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL_TN = len(DataFrame_drg_EXTRACRANIAL_TN["provider_zip_code"].unique())
Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL_TN

In [ ]:
# Create a summary data frame to hold the DRG EXTRACRANIAL PROCEDURES in TN Analysis Results

DRG_Analysis_df_drg_EXTRACRANIAL_TN = pd.DataFrame([
    {"Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES in TN": Unique_Provider_count_drg_EXTRACRANIAL_TN, 
     "Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES in TN": Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL_TN, 
     "Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES in TN": Discharge_Count_drg_EXTRACRANIAL_TN,
     "Average Charge for DRG EXTRACRANIAL PROCEDURES in TN": Average_Covered_Charges_drg_EXTRACRANIAL_TN,
     "Max Charge for DRG EXTRACRANIAL PROCEDURES in TN": Max_Covered_Charges_drg_EXTRACRANIAL_TN,
     "Min Charge for DRG EXTRACRANIAL PROCEDURES in TN": Min_Covered_Charges_drg_EXTRACRANIAL_TN
    }
])
DRG_Analysis_df_drg_EXTRACRANIAL_TN

In [ ]:
# Give the displayed data to hold the DRG EXTRACRANIAL PROCEDURES in TN Analysis Results with cleaner formatting

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN = DRG_Analysis_df_drg_EXTRACRANIAL_TN

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN["Average Charge for DRG EXTRACRANIAL PROCEDURES in TN"] = DRG_Analysis_df_drg_EXTRACRANIAL_TN["Average Charge for DRG EXTRACRANIAL PROCEDURES in TN"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN["Max Charge for DRG EXTRACRANIAL PROCEDURES in TN"] = DRG_Analysis_df_drg_EXTRACRANIAL_TN["Max Charge for DRG EXTRACRANIAL PROCEDURES in TN"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN["Min Charge for DRG EXTRACRANIAL PROCEDURES in TN"] = DRG_Analysis_df_drg_EXTRACRANIAL_TN["Min Charge for DRG EXTRACRANIAL PROCEDURES in TN"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN

In [ ]:
# Create list to store data of the Regions in TN for the specific procedure

drg_EXTRACRANIAL_TN_Region_List = []

for Region in DataFrame_drg_EXTRACRANIAL_TN["hospital_referral_region_description"]:
    if Region not in drg_EXTRACRANIAL_TN_Region_List:
        drg_EXTRACRANIAL_TN_Region_List.append(Region)
        
drg_EXTRACRANIAL_TN_Region_List

In [ ]:
# Store the Average Cost Data for the specific procedure Grouped by Region by splitting up the data into groups based upon 'Region'
# Filter the DataFrame down only to those columns to chart
Average_EXTRACRANIAL_Cost_for_data_grouped_by_Region_in_TN = DataFrame_drg_EXTRACRANIAL_TN.groupby(['hospital_referral_region_description'])

# Convert to DataFrame

Average_EXTRACRANIAL_Cost_for_data_grouped_by_Region_in_TN_df = Average_EXTRACRANIAL_Cost_for_data_grouped_by_Region_in_TN[["average_covered_charges"]].mean().reset_index()

# Preview DataFrame

Average_EXTRACRANIAL_Cost_for_data_grouped_by_Region_in_TN_df.head()

In [ ]:
# Create list to store data of the Regions in TN for the specific procedure

drg_EXTRACRANIAL_TN_Region_List = []

for Region in Average_EXTRACRANIAL_Cost_for_data_grouped_by_Region_in_TN_df["hospital_referral_region_description"]:
    if Region not in drg_EXTRACRANIAL_TN_Region_List:
        drg_EXTRACRANIAL_TN_Region_List.append(Region)
        
drg_EXTRACRANIAL_TN_Region_List

In [ ]:
# Create list to store data of the Average Charge by Region in TN for the specific procedure

drg_EXTRACRANIAL_TN_Average_Covered_Charge_List = []

for Cost in Average_EXTRACRANIAL_Cost_for_data_grouped_by_Region_in_TN_df["average_covered_charges"]:
    if Cost not in drg_EXTRACRANIAL_TN_Average_Covered_Charge_List:
        drg_EXTRACRANIAL_TN_Average_Covered_Charge_List.append(Cost)
        
drg_EXTRACRANIAL_TN_Average_Covered_Charge_List

In [ ]:
# Create a DataFrame of the Average Cost by Region in TN for the specific procedure by merging the lists
Average_Cost_of_Extracranial_per_Region_TN = pd.DataFrame({
    "DRG": "039 - EXTRACRANIAL PROCEDURES W/O CC/MCC",
    "Region": drg_EXTRACRANIAL_TN_Region_List,
    "Average Cost": drg_EXTRACRANIAL_TN_Average_Covered_Charge_List
})
Average_Cost_of_Extracranial_per_Region_TN

In [ ]:
# Create a Bar Chart of the Average Cost per Region for EXTRACRANIAL PROCEDURES in TN

drg_EXTRACRANIAL_TN_Average_Covered_Charge_List_Values = drg_EXTRACRANIAL_TN_Average_Covered_Charge_List
drg_EXTRACRANIAL_TN_Region_List_Values = drg_EXTRACRANIAL_TN_Region_List
x_axis = np.arange(len(drg_EXTRACRANIAL_TN_Region_List))

plt.bar(x_axis, drg_EXTRACRANIAL_TN_Average_Covered_Charge_List_Values, alpha=0.5, align="center")

tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, drg_EXTRACRANIAL_TN_Region_List_Values, rotation="vertical")

plt.xlim(-0.75, len(x_axis)-0.25)

plt.title("Average Cost per Region for EXTRACRANIAL PROCEDURES in TN")
plt.ylabel("Average Cost ($)")

In [ ]:
# Filter the data so that only a specific procedure in Nashville TN is in the dataframe

DataFrame_drg_EXTRACRANIAL_TN_Nashville = DataFrame.loc[(DataFrame["drg_definition"] == "039 - EXTRACRANIAL PROCEDURES W/O CC/MCC") & (DataFrame["provider_state"] == "TN") & (DataFrame["hospital_referral_region_description"] == "TN - Nashville"),:]

DataFrame_drg_EXTRACRANIAL_TN_Nashville.head()

In [ ]:
# Display a statistical overview of the EXTRACRANIAL PROCEDURES Nashville TN DataFrame for reference

DataFrame_drg_EXTRACRANIAL_TN_Nashville.describe()

In [ ]:
# Calculate the Number of Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES in Nashville TN
Unique_Provider_count_drg_EXTRACRANIAL_TN_Nashville = len(DataFrame_drg_EXTRACRANIAL_TN_Nashville["provider_id"].unique())
Unique_Provider_count_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Calculate the Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES in Nasvhville TN
Discharge_Count_drg_EXTRACRANIAL_TN_Nashville = (DataFrame_drg_EXTRACRANIAL_TN_Nashville["total_discharges"].sum())
Discharge_Count_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Cacluate the average covered charges for DRG EXTRACRANIAL PROCEDURES in Nashville TN
Average_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville = DataFrame_drg_EXTRACRANIAL_TN_Nashville["average_covered_charges"].mean()
Average_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Cacluate the min covered charge amount for DRG EXTRACRANIAL PROCEDURES in Nashville TN
Min_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville = DataFrame_drg_EXTRACRANIAL_TN_Nashville["average_covered_charges"].min()
Min_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Cacluate the max covered charge amount for DRG EXTRACRANIAL PROCEDURES in Nashville TN
Max_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville = DataFrame_drg_EXTRACRANIAL_TN_Nashville["average_covered_charges"].max()
Max_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Calculate the Total Number of Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES in Nashville TN
Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL_TN_Nashville = len(DataFrame_drg_EXTRACRANIAL_TN_Nashville["provider_zip_code"].unique())
Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Create a summary data frame to hold the DRG EXTRACRANIAL PROCEDURES in Nashville TN Analysis Results

DRG_Analysis_df_drg_EXTRACRANIAL_TN_Nashville = pd.DataFrame([
    {"Unique Providers that serviced DRG EXTRACRANIAL PROCEDURES in Nashville TN": Unique_Provider_count_drg_EXTRACRANIAL_TN_Nashville, 
     "Unique Provider Zip Codes that serviced DRG EXTRACRANIAL PROCEDURES in Nashville TN": Unique_Provider_ZipCode_Count_drg_EXTRACRANIAL_TN_Nashville, 
     "Total Number of Discharges for DRG EXTRACRANIAL PROCEDURES in Nashville TN": Discharge_Count_drg_EXTRACRANIAL_TN_Nashville,
     "Average Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN": Average_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville,
     "Max Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN": Max_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville,
     "Min Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN": Min_Covered_Charges_drg_EXTRACRANIAL_TN_Nashville
    }
])
DRG_Analysis_df_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Give the displayed data to hold the DRG EXTRACRANIAL PROCEDURES in Nasvhille TN Analysis Results with cleaner formatting

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN_Nashville = DRG_Analysis_df_drg_EXTRACRANIAL_TN_Nashville

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN_Nashville["Average Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN"] = DRG_Analysis_df_drg_EXTRACRANIAL_TN_Nashville["Average Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN_Nashville["Max Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN"] = DRG_Analysis_df_drg_EXTRACRANIAL_TN_Nashville["Max Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN"].map("${:,.2f}".format)
DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN_Nashville["Min Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN"] = DRG_Analysis_df_drg_EXTRACRANIAL_TN_Nashville["Min Charge for DRG EXTRACRANIAL PROCEDURES in Nashville TN"].map("${:,.2f}".format)

DRG_Analysis_Formatted_df_drg_EXTRACRANIAL_TN_Nashville

In [ ]:
# Create list to store data of the Providers in Nashville for the specific procedure

drg_EXTRACRANIAL_TN_Nashville_ProviderList = []

for Provider in DataFrame_drg_EXTRACRANIAL_TN_Nashville["provider_name"]:
    if Provider not in drg_EXTRACRANIAL_TN_Nashville_ProviderList:
        drg_EXTRACRANIAL_TN_Nashville_ProviderList.append(Provider)
        
drg_EXTRACRANIAL_TN_Nashville_ProviderList

In [ ]:
# Create list to store data of the Average Charge in Nashville for the specific procedure

drg_EXTRACRANIAL_TN_Nashville_Average_Covered_Charge_List = []

for Cost in DataFrame_drg_EXTRACRANIAL_TN_Nashville["average_covered_charges"]:
    if Cost not in drg_EXTRACRANIAL_TN_Nashville_Average_Covered_Charge_List:
        drg_EXTRACRANIAL_TN_Nashville_Average_Covered_Charge_List.append(Cost)
        
drg_EXTRACRANIAL_TN_Nashville_Average_Covered_Charge_List

In [ ]:
# Create a DataFrame of the Average Cost of Extracranial per Provider in Nashville by merging the lists
Average_Cost_of_Extracranial_per_Provider_Nashvile_df = pd.DataFrame({
    "DRG": "039 - EXTRACRANIAL PROCEDURES W/O CC/MCC",
    "Provider": drg_EXTRACRANIAL_TN_Nashville_ProviderList,
    "Average Cost": drg_EXTRACRANIAL_TN_Nashville_Average_Covered_Charge_List
})
Average_Cost_of_Extracranial_per_Provider_Nashvile_df

In [ ]:
# Create a Bar Chart

AverageCostValue = drg_EXTRACRANIAL_TN_Nashville_Average_Covered_Charge_List
ProviderValues = drg_EXTRACRANIAL_TN_Nashville_ProviderList
x_axis = np.arange(len(drg_EXTRACRANIAL_TN_Nashville_ProviderList))

plt.bar(x_axis, AverageCostValue, alpha=0.5, align="center")

tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, ProviderValues, rotation="vertical")

plt.xlim(-0.75, len(x_axis)-0.25)

plt.title("Average Cost per Provider for EXTRACRANIAL PROCEDURES in Nashville")
plt.ylabel("Average Cost ($)")